.card-container {
  height: 282px;
  width: 200px;
  background-color: white;
  background-size: cover;
  position: relative;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  transition: all 0.25s ease;
}